<section>
  <h2>Create New Post</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
      <label for="post-content">Content</label>
      <input type="text" id="post-content" name="post-content" />
    </div>
    <button type="new-post" class="btn">Submit Post</button>
  </form>
</section>

{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <div class="card post-info">
    {{#each posts as |post|}}
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    {{/each}}
  </div>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>